Repository Project-HAMi/website, pull requests merged in 2025-07, with the labels that each got.

#73 Kunlun support
  docs/developers/kunlunxin-topology.md
  docs/resources/kunlunxin_filter.png
  docs/resources/kunlunxin_topo.jpg
  docs/userguide/Kunlunxin-device/enable-kunlunxin-schedule.md
  sidebars.js
Labels: dco-signoff: yes, size/L, lgtm, approved

#74 Update text on two kunlunxin pages
  docs/developers/kunlunxin-topology.md
  docs/userguide/Kunlunxin-device/enable-kunlunxin-schedule.md
Labels: dco-signoff: yes, size/L, lgtm, approved

#72 Update prerequisites, online-installation, and uninstall pages
  docs/installation/online-installation.md
  docs/installation/prequisities.md
  docs/installation/uninstall.md
  i18n/zh/docusaurus-plugin-content-docs/version-v2.6.0/installation/online-installation.md
  i18n/zh/docusaurus-plugin-content-docs/version-v2.6.0/installation/prequisities.md
  i18n/zh/docusaurus-plugin-content-docs/version-v2.6.0/installation/uninstall.md
Labels: lgtm, approved

#71 Fix formats and typo on how-to-use-volcano-vgpu and offline-installation pages
  docs/installation/how-to-use-volcano-vgpu.md
  docs/installation/offline-installation.md
  i18n/zh/docusaurus-plugin-content-docs/version-v2.6.0/installation/how-to-use-volcano-vgpu.md
  i18n/zh/docusaurus-plugin-content-docs/version-v2.6.0/installation/offline-installation.md
Labels: lgtm, approved

#77 sync doc: node configs
  docs/userguide/configure.md
Labels: dco-signoff: yes, size/S, lgtm, approved

#86 fix images in HAMi-core-design.md
  docs/developers/HAMi-core-design.md
  i18n/zh/docusaurus-plugin-content-docs/current/developers/HAMi-core-design.md
  i18n/zh/docusaurus-plugin-content-docs/version-v2.5.1/developers/HAMi-core-design.md
  i18n/zh/docusaurus-plugin-content-docs/version-v2.6.0/developers/HAMi-core-design.md
Labels: dco-signoff: yes, size/L, lgtm

#81 fix: typo error
  docs/get-started/deploy-with-helm.md
  i18n/zh/docusaurus-plugin-content-docs/version-v1.3.0/get-started/nginx-example.md
  i18n/zh/docusaurus-plugin-content-docs/version-v2.4.1/get-started/nginx-example.md
  i18n/zh/docusaurus-plugin-content-docs/version-v2.6.0/get-started/nginx-example.md
  versioned_docs/version-v1.3.0/get-started/nginx-example.md
  versioned_docs/version-v2.4.1/get-started/nginx-example.md
  versioned_docs/version-v2.5.0/get-started/nginx-example.md
  versioned_docs/version-v2.5.1/get-started/nginx-example.md
  versioned_docs/version-v2.6.0/get-started/nginx-example.md
Labels: dco-signoff: yes, size/S, lgtm, approved

#76 [zh] Sync userguide/configure.md
  i18n/zh/docusaurus-plugin-content-docs/current/userguide/configure.md
Labels: dco-signoff: yes, size/L, lgtm, approved

#78 Update webui-installation.md
  docs/installation/webui-installation.md
  i18n/zh/docusaurus-plugin-content-docs/current/installation/webui-installation.md
  i18n/zh/docusaurus-plugin-content-docs/version-v1.3.0/installation/webui-installation.md
  i18n/zh/docusaurus-plugin-content-docs/version-v2.4.1/installation/webui-installation.md
  i18n/zh/docusaurus-plugin-content-docs/version-v2.5.0/installation/webui-installation.md
  i18n/zh/docusaurus-plugin-content-docs/version-v2.5.1/installation/webui-installation.md
  i18n/zh/docusaurus-plugin-content-docs/version-v2.6.0/installation/webui-installation.md
  versioned_docs/version-v1.3.0/installation/webui-installation.md
  versioned_docs/version-v2.4.1/installation/webui-installation.md
  versioned_docs/version-v2.5.0/installation/webui-installation.md
  versioned_docs/version-v2.5.1/installation/webui-installation.md
  versioned_docs/version-v2.6.0/installation/webui-installation.md
Labels: dco-signoff: yes, size/S, lgtm, approved

#82 Update allocate-910b.md
  docs/userguide/Ascend-device/examples/allocate-910b.md
Labels: dco-signoff: yes, size/S, lgtm, approved

#83 Update allocate-310p.md
  docs/userguide/Ascend-device/examples/allocate-310p.md
Labels: dco-signoff: yes, size/S, lgtm, approved

#87 updated usage example of hygon assigning tasks to specific DCUs
  docs/userguide/Hygon-device/examples/specify-certain-cards.md
  docs/userguide/Hygon-device/specify-device-uuid-to-use.md
  i18n/zh/docusaurus-plugin-content-docs/current/userguide/Hygon-device/examples/specify-certain-cards.md
  i18n/zh/docusaurus-plugin-content-docs/current/userguide/Hygon-device/specify-device-uuid-to-use.md
  sidebars.js
Labels: dco-signoff: yes, size/M, lgtm

#89 Clean up userguide/Metax-device/ pages
  docs/userguide/Metax-device/Metax-GPU/enable-metax-gpu-schedule.md
  docs/userguide/Metax-device/Metax-GPU/examples/allocate-binpack.md
  docs/userguide/Metax-device/Metax-GPU/examples/allocate-spread.md
  docs/userguide/Metax-device/Metax-GPU/examples/default-use.md
  docs/userguide/Metax-device/Metax-GPU/specify-binpack-task.md
  docs/userguide/Metax-device/Metax-GPU/specify-spread-task.md
  docs/userguide/Metax-device/Metax-sGPU/enable-metax-gpu-sharing.md
  docs/userguide/Metax-device/Metax-sGPU/examples/allocate-exclusive.md
  docs/userguide/Metax-device/Metax-sGPU/examples/allocate-qos-policy.md
  docs/userguide/Metax-device/Metax-sGPU/examples/default-use.md
Labels: dco-signoff: yes, size/L, lgtm, approved

#93 try to use deepseek v3 for i18n
  i18n/zh/docusaurus-plugin-content-docs/current/contributor/contributers.md
  i18n/zh/docusaurus-plugin-content-docs/current/core-concepts/introduction.md
  i18n/zh/docusaurus-plugin-content-docs/current/developers/kunlunxin-topology.md
  i18n/zh/docusaurus-plugin-content-docs/current/get-started/deploy-with-helm.md
  i18n/zh/docusaurus-plugin-content-docs/current/resources/kunlunxin_filter.png
  i18n/zh/docusaurus-plugin-content-docs/current/resources/kunlunxin_topo.jpg
  i18n/zh/docusaurus-plugin-content-docs/current/userguide/AWSNeuron-device/enable-awsneuron-managing.md
  i18n/zh/docusaurus-plugin-content-docs/current/userguide/AWSNeuron-device/examples/allocate-neuron-core.md
  i18n/zh/docusaurus-plugin-content-docs/current/userguide/AWSNeuron-device/examples/allocate-neuron-device.md
Labels: dco-signoff: yes, lgtm, approved, size/XL

#92 [zh] sync userguide/Metax-device/ pages
  i18n/zh/docusaurus-plugin-content-docs/current/userguide/Metax-device/Metax-GPU/enable-metax-gpu-schedule.md
  i18n/zh/docusaurus-plugin-content-docs/current/userguide/Metax-device/Metax-GPU/examples/allocate-binpack.md
  i18n/zh/docusaurus-plugin-content-docs/current/userguide/Metax-device/Metax-GPU/examples/allocate-spread.md
  i18n/zh/docusaurus-plugin-content-docs/current/userguide/Metax-device/Metax-GPU/examples/default-use.md
  i18n/zh/docusaurus-plugin-content-docs/current/userguide/Metax-device/Metax-GPU/specify-binpack-task.md
  i18n/zh/docusaurus-plugin-content-docs/current/userguide/Metax-device/Metax-GPU/specify-spread-task.md
  i18n/zh/docusaurus-plugin-content-docs/current/userguide/Metax-device/Metax-sGPU/enable-metax-gpu-sharing.md
  i18n/zh/docusaurus-plugin-content-docs/current/userguide/Metax-device/Metax-sGPU/examples/allocate-exclusive.md
  i18n/zh/docusaurus-plugin-content-docs/current/userguide/Metax-device/Metax-sGPU/examples/allocate-qos-policy.md
  i18n/zh/docusaurus-plugin-content-docs/current/userguide/Metax-device/Metax-sGPU/examples/default-use.md
Labels: dco-signoff: yes, size/L, lgtm, approved

#91 feat: Add Nvidia topology-aware GPU policy docs
  i18n/zh/docusaurus-plugin-content-docs/version-v2.6.0/developers/scheduling.md
  versioned_docs/version-v2.6.0/developers/scheduling.md
Labels: dco-signoff: yes, size/L, lgtm, approved
